.h1 {
    
    background-color: red;text-align: center;
}

.download {
    width: 50%;
    margin-left: 25%;
}

h2{
    text-align: center;color:red;
}
p{
 text-align: center;   
}
h4{text-decoration: underline;

}